# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
SimonTheSorcerer/Assets/UnityVS.meta
SimonTheSorcerer/Assets/UnityVS/Editor.meta
SimonTheSorcerer/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
SimonTheSorcerer/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
SimonTheSorcerer/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
SimonTheSorcerer/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
SimonTheSorcerer/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
SimonTheSorcerer/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
SimonTheSorcerer/UnityVS.SimonTheSorcerer.sln.DotSettings
